<h4>Firebase Register</h4>
<div class="container jumbotron">

  <form (ngSubmit)="register()">
    <div class="form-group">
      <label>Email address</label>
      <input type="email" name="login" class="form-control" [(ngModel)]="email" aria-describedby="emailHelp" required>
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input name="password" type="password" [(ngModel)]="password" class="form-control" required>
    </div>

    <div class="form-group p-2">
      <button style="width: 100%;" type="submit" class="btn btn-primary">Register</button>
      <div class="lo">
        <a href="#" routerLink="/login">Back To Login</a>
      </div>
    </div>

  </form>
  <div class="form-group">
    <p *ngIf="errorMessage.length > 0" class="text-danger">{{ errorMessage }}</p>
    <p *ngIf="error.message.length > 0" class="text-danger">{{ error.message }}</p>
    <p *ngIf="message.length > 0" class="text-info">{{ message }}</p>
  </div>
</div>
